<ion-header>
  <ion-navbar>
    <ion-title>
      Menu
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <button primary block  (click)="search()">Listar as minhas Oportunidades de Venda</button>
  </ion-list>

  <div *ngIf="myValue">
    <ion-list>
      <ion-item *ngFor="let OVs of OVList">
        <p>{{OVs.Entidade}} || {{OVs.Descricao}}</p>
        <p>{{OVs.BarraPercentual}}</p>
      </ion-item>
    </ion-list>
  </div>

  <ion-list>
    <button primary block  (click)="search0()">Listar os Distritos para onde posso viajar</button>
  </ion-list>
  <div *ngIf="myDistList">
    <ion-list>
      <ion-row>
        <ion-col width-33 text-center>
          <button primary block  (click)="search1()"> Aveiro </button>
        </ion-col>
        <ion-col width-33 text-center>
          <button primary block  (click)="search2()"> Beja </button>
        </ion-col>
        <ion-col width-33 text-center>
          <button primary block  (click)="search3()"> Braga </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-33 text-center>
          <button primary block  (click)="search4()"> Bragança </button>
        </ion-col>
        <ion-col width-33 text-center>
          <button primary block  (click)="search5()"> Castelo Branco </button>
        </ion-col>
        <ion-col width-33 text-center>
          <button primary block  (click)="search6()"> Coimbra </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-33 text-center>
          <button primary block  (click)="search7()"> Évora </button>
        </ion-col>
        <ion-col width-33 text-center>
          <button primary block  (click)="search8()"> Faro </button>
        </ion-col>
        <ion-col width-33 text-center>
          <button primary block  (click)="search9()"> Guarda </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-33 text-center>
          <button primary block  (click)="search10()"> Leiria </button>
        </ion-col>
        <ion-col width-33 text-center>
          <button primary block  (click)="search11()"> Lisboa </button>
        </ion-col>
        <ion-col width-33 text-center>
          <button primary block  (click)="search12()"> Portalegre </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-33 text-center>
          <button primary block  (click)="search13()"> Porto </button>
        </ion-col>
        <ion-col width-33 text-center>
          <button primary block  (click)="search14()"> Santarém </button>
        </ion-col>
        <ion-col width-33 text-center>
          <button primary block  (click)="search15()"> Setúbal </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-33 text-center>
          <button primary block  (click)="search16()"> Viana do Castelo </button>
        </ion-col>
        <ion-col width-33 text-center>
          <button primary block  (click)="search17()"> Vila Real </button>
        </ion-col>
        <ion-col width-33 text-center>
          <button primary block  (click)="search18()"> Viseu </button>
        </ion-col>
      </ion-row>
    </ion-list>
  </div>

  <!-- TODO Viajar para Distrito
  <!-- TODO Modal ionic 2 Component [INSERIR NOVA OPV] -->

</ion-content>
